body {
	background-color: #4ECDC4;
}

.container {
	width: 100%;
}

header {
	background-color: #FDE3A7;
}

.navbar-brand {
	font-size: 2.5em;
}

img {
	max-height: 300px;
	margin-top: 30px;
}

p {
	margin-left: 40%;
}

